@if(Request.IsAuthenticated)
{
	<aside id="sidebar">
		<h2>Status check</h2>				    
		<p>		    
			Oh no, we found a problem		    			    		    
		</p>
		
		<ul>			    
			<li>Error</li>			    
		</ul>		    
		<p>Nice job, keep on going!</p>     		    
	</aside>	    
}