@model IEnumerable<MudHook.Core.Post>
@{
    ViewBag.Title = "Index";
}
<section id="content-wrapper">
			<div id="content">
				<div id="timeline">
					<div id="time-line">
	    			    <div class="timeline-icon-bottom">
	                        <a href="#" class="icon-totop" style="display: block; "></a>
						    <span class="tophov">Back to top</span>
					    </div>   
					</div>
					
					<div id="picture-profile">
						<a href="/">
							<img src="@Url.Content("~/Content/Authors/jeffboek.jpg")" alt="">
						</a>
					</div>	                															
												
										
					<div id="pagination_post" style="display:none">
						<div class="newer-page"><a href="/page/3"></a></div>   
						<div class="older-page"><a href="/page/1"></a></div>     
					</div>
					
					
					</div></div></div></div></section>

@foreach (var p in Model) {     
    //@p.Title <br />
}