@model IEnumerable<MudHook.Core.Post>
@{
    ViewBag.Title = "Index";
}

<section id="content-wrapper">
			<div id="content">
				<div id="timeline">
					<div id="time-line">
	    			    <div class="timeline-icon-bottom">
	                        <a href="#" class="icon-totop" style="display: block; "></a>
						    <span class="tophov">Back to top</span>
					    </div>   
					</div>
					
					<div id="picture-profile">
						<a href="/">
							<img src="@Url.Content("~/Content/Authors/jeffboek.jpg")" alt="">
						</a>
					</div>
	                
					<div id="profile-description">
						<div class="timeline-preview">
							<div class="timeline-icon-pp"><a href="/" class="icon-profile"></a></div>
							<div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
							<div class="timeline-content">
								<p class="description">
									Hello everyone, <br>
my name is Timeline. Tech enthusiast, gadget freak, amazed by anything mobile. This blog is dedicated to pictures mainly taken by mobile devices. Although sometimes when the needs arise, a more dedicated device will be used. 
								</p>
							</div>
							<div class="timeline-bar">
								
								<div class="button-ask">
									<a href="/ask" address="address">Message Me</a>
								</div>
								
								<div class="social-links">
									
									<a href="http://twitter.com/tofuthemes" class="twitter"></a>
									
									
									<a href="http://facebook.com/envato" class="facebook"></a>
									
									
									<a href="http://gplus.to/#" class="gplus"></a>
									
									
									<a href="http://dribbble.com/syinaction" class="dribbble"></a>
									
									
									<a href="http://www.youtube.com/user/#" class="youtube"></a>
									
									
									<a href="http://flickr.com/photos/59105255@N06" class="flickr"></a>
									
									
									<a href="http://vimeo.com/#" class="vimeo"></a>
									
									
									<a href="callto://#" class="skype"></a>
									
								</div>
							</div>
						</div>
					</div><!-- End #profile-description -->
					
	                
					
					
					
					
					
					
					
					<!-- 
					=======================================
					BEGIN POSTS
					=======================================
					-->
					
					<div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					<a href="/tagged/photo" class="icon-photo"></a>
					
					
					
					
					
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								<!--========== PHOTO POST ==========-->
								<div class="photopost">
									<a href="http://24.media.tumblr.com/tumblr_lzd3drQ7v71rpzj0eo1_1280.jpg">
									<img src="http://25.media.tumblr.com/tumblr_lzd3drQ7v71rpzj0eo1_500.jpg" alt="">
									</a>
									<div class="caption-post">
										
									</div>
								</div>
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/13/" class="post-time">
										February 13, 2012
									</a>
									
									
									 
									<a href="http://timeline-theme.tumblr.com/post/17587162833#notes" class="liked-count">3</a>
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17587162833" class="view-post" address="address">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17587162833" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGOHixH" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGOHixH" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					<div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					<a href="/tagged/photoset" class="icon-photoset"></a>
					
					
					
					
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								<!--========== PHOTOSET POST ==========-->
								<div class="photosetpost">
									<div class="big media">
										<script type="text/javascript" language="javascript" src="http://assets.tumblr.com/javascript/tumblelog.js?955"></script><div id="photoset_17587053209" class="html_photoset">    <iframe class="photoset" scrolling="no" frameborder="0" height="500" width="500" style="border:0px; background-color:transparent; overflow:hidden;" src="http://timeline-theme.tumblr.com/post/17587053209/photoset_iframe/timeline-theme/tumblr_lzd3anHdv81rpzj0e/500"></iframe></div>
									</div>
									<div class="small media">
										<script type="text/javascript" language="javascript" src="http://assets.tumblr.com/javascript/tumblelog.js?955"></script><div id="photoset_17587053209" class="html_photoset">    <iframe class="photoset" scrolling="no" frameborder="0" height="250" width="250" style="border:0px; background-color:transparent; overflow:hidden;" src="http://timeline-theme.tumblr.com/post/17587053209/photoset_iframe/timeline-theme/tumblr_lzd3anHdv81rpzj0e/250"></iframe></div>
									</div>
								
									<div class="caption-post">
										
									</div>
								</div>
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/12/" class="post-time">
										February 12, 2012
									</a>
									
									
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17587053209" class="view-post" address="address">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17587053209" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGOHIAP" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGOHIAP" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					<div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					
					<a href="/tagged/video" class="icon-video"></a>
					
					
					
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								
								
								<!--========== VIDEO POST ==========-->
								<div class="videopost">
									<div class="big media">
										<iframe width="500" height="281" src="http://www.youtube.com/embed/5tr5ptnUoDE?wmode=transparent&amp;autohide=1&amp;egm=0&amp;hd=1&amp;iv_load_policy=3&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;showsearch=0" frameborder="0" allowfullscreen=""></iframe>
									</div>
									<div class="small media">
										<iframe width="248" height="139" src="http://www.youtube.com/embed/5tr5ptnUoDE?wmode=transparent&amp;autohide=1&amp;egm=0&amp;hd=1&amp;iv_load_policy=3&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;showsearch=0" frameborder="0" allowfullscreen=""></iframe>
									</div>
									
									<div class="caption-post">
										
									</div>
								</div>
								
								
								
								
								
								
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/12/" class="post-time">
										February 12, 2012
									</a>
									
									
									 
									<a href="http://timeline-theme.tumblr.com/post/17586733062#notes" class="liked-count">4</a>
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17586733062" class="view-post" address="address">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17586733062" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGOG406" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGOG406" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					<div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					<a href="/tagged/photoset" class="icon-photoset"></a>
					
					
					
					
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								<!--========== PHOTOSET POST ==========-->
								<div class="photosetpost">
									<div class="big media">
										<div id="photoset_17586425126" class="html_photoset">    <iframe class="photoset" scrolling="no" frameborder="0" height="160" width="500" style="border:0px; background-color:transparent; overflow:hidden;" src="http://timeline-theme.tumblr.com/post/17586425126/photoset_iframe/timeline-theme/tumblr_lzd2tkVKS41rpzj0e/500"></iframe></div>
									</div>
									<div class="small media">
										<div id="photoset_17586425126" class="html_photoset">    <iframe class="photoset" scrolling="no" frameborder="0" height="77" width="250" style="border:0px; background-color:transparent; overflow:hidden;" src="http://timeline-theme.tumblr.com/post/17586425126/photoset_iframe/timeline-theme/tumblr_lzd2tkVKS41rpzj0e/250"></iframe></div>
									</div>
								
									<div class="caption-post">
										
										<span class="post-divider"></span>
											<p>Instagram launched in&nbsp;<a href="http://en.wikipedia.org/wiki/Apple_Inc." title="Apple Inc.">Apple</a>’s&nbsp;<a href="http://en.wikipedia.org/wiki/App_Store_(iOS)" title="App Store (iOS)">App Store</a>&nbsp;on October 6, 2010.By December 2010, Instagram had one million registered users,and by June 2011 they reached five million.&nbsp;By September Instagram passed ten million registered users.</p>
<p>Shortly after the October 2010 launch, Josh Riedel joined the team as  their Community Manager, Shayne Sweeney joined the team in November  2010 as an engineer, and Jessica Zollman was hired as a Community  Evangelist in August 2011.</p>
										
									</div>
								</div>
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/12/" class="post-time">
										February 12, 2012
									</a>
									
									
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17586425126/instagram-launched-in-apples-app-store-on-october" class="view-post" address="address">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17586425126/instagram-launched-in-apples-app-store-on-october" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGOEuqc" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGOEuqc" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					<div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					
					
					
					
					<a href="/tagged/quote" class="icon-quote"></a>
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								
								
								
								
								
								
								
								
								<!--========== QUOTE POST ==========-->
								<div class="quotepost">
									<h2 class="quoteline"> 
										And no, we don’t know where it will lead. <br>
We just know there’s something much bigger than any of us here.
									</h2>
									<span class="post-divider"></span>
									<p class="quotesource">_ Steve Job </p>
								</div>
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/12/" class="post-time">
										February 12, 2012
									</a>
									
									
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17585978315/and-no-we-dont-know-where-it-will-lead-we-just" class="view-post" address="address">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17585978315/and-no-we-dont-know-where-it-will-lead-we-just" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGODBlB" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGODBlB" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
							
					
					
					<div id="pagination_post" style="display: none; ">
						<div class="newer-page"><a href="/page/2"></a></div>   
						<div class="older-page"><a href=""></a></div>     
					</div>
					
					
					</div><!-- End #blogpost -->
					
					<!-- 
					=======================================
					END POSTS
					=======================================
					-->
					
	                
				</div><!-- End #timeline -->
				    
			</div><!-- End #content -->
		</div><div id="infscr-loading" style="text-align: center; display: none; "><img alt="Loading..." src="http://static.tumblr.com/he6jwsj/BCnloyyqb/loader.gif"><div>...</div></div><div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					
					
					<a href="/tagged/audio" class="icon-audio"></a>
					
					
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								
								
								
								
								<!--========== AUDIO POST ==========-->
								<div class="audiopost">
									<div class="audio-player">
										<div class="album-art">
											 
											<img src="http://24.media.tumblr.com/tumblr_lzd28yvFdY1rpzj0e_1329185886_cover.png" alt=""> 
											
										</div>
										<span class="album-cover"></span>
									</div>
									<div class="audio-data">
										<h2 class="artist-name"> The Vaccines </h2> 
										<h3 class="track-name"> Wetsuit </h3>
										<h4 class="album-title"> What Did You Expect from the Vaccines? </h4>
									</div>
									<div class="plays-count"><p><span class="playcount">1,766 plays</span></p></div>
									<div class="player-box"> 
										<span class="music-player"><span id="audio_player_17585645084">[<a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">Flash 9</a> is required to listen to audio.]</span></span>
									</div>
									
									<div class="caption-post">
										
										<span class="post-divider"></span>
											<p>The Vaccines are an&nbsp;English&nbsp;indie rock&nbsp;&nbsp;band who formed in&nbsp;West London&nbsp;in 2010. The band’s debut album,&nbsp;<em>What Did You Expect from the Vaccines?</em>, was released through&nbsp;Columbia Records&nbsp;on 14 March 2011<sup class="reference" id="cite_ref-DebutAlbum_4-0">[5]</sup>&nbsp;and reached number 4 in the UK Album Chart .They have drawn comparisons to&nbsp;The Strokes&nbsp;and&nbsp;Ramones.  The band, however, describe their influences as “‘50s rock ‘n’ roll,  ’60s garage and girl groups, ’70s punk, ’80s American hardcore, C86 and  good pop music”. They have toured extensively and opened up for the  likes of&nbsp;The Walkmen,&nbsp;Arcade Fire&nbsp;and&nbsp;Arctic Monkeys.</p>
										
									</div>
								</div>
								
								
								
								
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/11/" class="post-time">
										February 11, 2012
									</a>
									
									
									 
									<a href="http://timeline-theme.tumblr.com/post/17585645084/the-vaccines-are-an-english-indie-rock-band-who#notes" class="liked-count">4</a>
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17585645084/the-vaccines-are-an-english-indie-rock-band-who" class="view-post">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17585645084/the-vaccines-are-an-english-indie-rock-band-who" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGOBwOS" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGOBwOS" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					</div><div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					
					
					
					
					
					
					<a href="/tagged/link" class="icon-link"></a>
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								<!--========== LINK POST ==========-->
								<div class="linkpost">
									<h2 class="post-link-url"> 
										<a href="http://tofuthemes.com/"> You can get Awesome Freebies here :) </a> 
									</h2>
									
									<div class="caption-post">
										
									</div>
								</div>
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/11/" class="post-time">
										February 11, 2012
									</a>
									
									
									 
									<a href="http://timeline-theme.tumblr.com/post/17583850224/you-can-get-awesome-freebies-here#notes" class="liked-count">3</a>
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17583850224/you-can-get-awesome-freebies-here" class="view-post">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17583850224/you-can-get-awesome-freebies-here" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGO54Bm" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGO54Bm" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					<!-- End #content -->
		</div><div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					
					
					
					
					
					<a href="/tagged/chat" class="icon-chat"></a>
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								
								
								
								
								
								
								
								
								
								
								<!--========== CHAT POST ==========-->
								<div class="chatpost">
									
									<h2 class="post-title">hiding on the shore</h2>
									<span class="post-divider"></span>
									
									
									<table cellspacing="0" class="chat-lines">
										<tbody>
									        
									    	<tr class="user1 odd">  					            	
									    		<th class="label">Marek:</th> 
									            <td>Are you, uh... married?
</td>  	                
									        </tr>
									        
									    	<tr class="user2 even">  					            	
									    		<th class="label">Claire:</th> 
									            <td>No. We've been fighting the English since before I was born. Theres no time for marriage.
</td>  	                
									        </tr>
									        
									    	<tr class="user1 odd">  					            	
									    		<th class="label">Marek:</th> 
									            <td>Of course. Are you, uh... with... anyone?
</td>  	                
									        </tr>
									        
									    	<tr class="user2 even">  					            	
									    		<th class="label">Claire:</th> 
									            <td>Am I with anyone?
</td>  	                
									        </tr>
									        
									    	<tr class="user1 odd">  					            	
									    		<th class="label">Marek:</th> 
									            <td>Yeah.
</td>  	                
									        </tr>
									        
									    	<tr class="user2 even">  					            	
									    		<th class="label">Claire:</th> 
									            <td>Im with you.
</td>  	                
									        </tr>
									        
									    	<tr class="user1 odd">  					            	
									    		<th class="label">Marek:</th> 
									            <td>I know, I know. What I mean is, is there, is there someone, is there someone... that you see?
</td>  	                
									        </tr>
									        
									    	<tr class="user2 even">  					            	
									    		<th class="label">Claire:</th> 
									            <td>Do I see?
</td>  	                
									        </tr>
									        
									    	<tr class="user1 odd">  					            	
									    		<th class="label">Marek:</th> 
									            <td>Yeah.
</td>  	                
									        </tr>
									        
									    	<tr class="user2 even">  					            	
									    		<th class="label">Claire:</th> 
									            <td>[Looks around] Uh, nobody... It is possible they are hiding on the shore or... in the woods. They could be anywhere.</td>  	                
									        </tr>
									         
										</tbody>
									</table>
								</div>
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/11/" class="post-time">
										February 11, 2012
									</a>
									
									
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17583656762/hiding-on-the-shore" class="view-post">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17583656762/hiding-on-the-shore" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGO4Kyw" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGO4Kyw" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					<!-- End #timeline -->
				    
			</div><div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					<a href="/tagged/photo" class="icon-photo"></a>
					
					
					
					
					
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								<!--========== PHOTO POST ==========-->
								<div class="photopost">
									<a href="http://25.media.tumblr.com/tumblr_lzd0dePdSW1rpzj0eo1_1280.jpg">
									<img src="http://25.media.tumblr.com/tumblr_lzd0dePdSW1rpzj0eo1_500.jpg" alt="">
									</a>
									<div class="caption-post">
										
									</div>
								</div>
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/10/" class="post-time">
										February 10, 2012
									</a>
									
									
									 
									<a href="http://timeline-theme.tumblr.com/post/17583157953#notes" class="liked-count">1</a>
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17583157953" class="view-post">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17583157953" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGO2RB1" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGO2RB1" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
					<!-- End #blogpost -->
					
					<!-- 
					=======================================
					END POSTS
					=======================================
					-->
					
	                
				</div><div id="blogpost">
						
					<div class="post">
						<div class="timeline-preview">
							<div class="timeline-icon">
					
					
					
					
					<a href="/tagged/text" class="icon-text"></a>
					
					
					
					
							</div>
							<div class="timeline-pointer"><span class="tl-pointer"></span></div>
							
							<div class="timeline-content">
								
								
								
								
								
								
								
								
								
								<!--========== TEXT POST ==========-->
								<div class="textpost">
									
									<h2 class="post-title">The definition of Timeline</h2>
									<span class="post-divider"></span>
									
									<div class="bodytext">
										
<p>A timeline is a way of displaying a list of events in chronological order, sometimes described as a project artifact. It is typically a graphic design showing a long bar labeled with dates alongside itself and (usually) events labeled on points where they would have happened.</p>
<p>Timelines are often used in <a href="http://en.wikipedia.org/wiki/Education">education</a> to help students and researchers with understanding events and trends for a particular subject. Timelines are particularly useful for studying history, as they convey a sense of change over time. Wars and social movements are often shown as timelines. Timelines are also useful for biographies.&nbsp;</p>
<p></p>

										
										
										<a href="http://timeline-theme.tumblr.com/post/17583005718/the-definition-of-timeline" class="read_more">Read More ...</a>
										
									</div>
								</div>
								
								
								
								
								
								
								
								
								
							</div> <!-- End .timeline-content -->
							
							<div class="timeline-bar">
								
								<div class="datelike-bar">
									
									<a href="/day/2012/02/10/" class="post-time">
										February 10, 2012
									</a>
									
									
									 
								</div>
								
								<div class="button-viewpost">
									<a href="http://timeline-theme.tumblr.com/post/17583005718/the-definition-of-timeline" class="view-post">View Post</a>
								</div>
								
								<div class="button-viewdetails">
									<a href="http://timeline-theme.tumblr.com/post/17583005718/the-definition-of-timeline" class="view-details">View Post</a>
								</div>
								
								<div class="button-share">
									<div class="share-icon">
										<span class="share-btn"></span>
										<a href="http://twitter.com/home?status=http://tmblr.co/ZX_3yvGO1s0M" class="share-twitter" target="_blank"></a>
										<a href="http://www.facebook.com/sharer.php?u=http://tmblr.co/ZX_3yvGO1s0M" class="share-facebook" target="_blank"></a>
									</div>
								</div>		
												
							</div> <!-- End .timeline-bar -->
						</div> <!-- End .timeline-preview -->
					</div> <!-- End .post -->				
					
							
					
					
					<div id="pagination_post" style="display:none">
						<div class="newer-page"><a href="/page/3"></a></div>   
						<div class="older-page"><a href="/page/1"></a></div>     
					</div>
					
					
					</div></div></div></div></section>

@foreach (var p in Model) {     
    @p.Title <br />
}