@model IEnumerable<MudHook.Core.Page>
@{
    string currentPage = (string)ViewContext.RouteData.Values["slug"];
}           
<nav id="main" role="navigation">
	<ul>	
    @foreach (var p in Model)
    { 
        <li @if(currentPage == p.Slug){
                @:class="active"
                }>
		    <a href="@Url.RouteUrl("page", new{ slug = @p.Slug})" title="@p.Title">                
			    @p.Name
		    </a>
	    </li>				
    }				               	
    </ul>
</nav>			
